*{
    padding: 0px;
    margin: 0px;
}

.desvanecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
.desvanecer:hover {
    opacity: 1;
  }

.horizontal {
    background-color: #000000;
    margin: 0px;
    border: 40px;
}
.contenedor1 {
    position: relative;
}
.titulo {
    font-family: 'Exo 2', sans-serif;
    padding: 10px;
    font-size: 60px; 
    color: rgb(41, 44, 66);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold; 
    z-index: 1;
    position: relative;
}
.imagen {
    content: "";
    background-image: url(https://cdn.wallpapersafari.com/54/80/f9DHBx.jpg);
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
    width: 300%;
    height:300%;
    opacity: 0.8;
    z-index: -1;
}
.com {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}
.es {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
}
header h1 {
padding-top: 20px;
}
a {
    text-decoration: none;
    color: white;
}
.elemento {
    background-color: #122531; 
    color: #b48181; 
    padding: 10px;
    transition: background-color 0.5s, color 0.5s;
}
.elemento:hover {
    background-color: #edf3f3; 
    color: #333; 
}
.navegacion {
    background-color: #122531;
    height: 47px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegacion a {
    text-decoration: none;
    color: white;
    padding: 14px;
}
.contenedor {
    display: flex;
}
.contenedor aside{
    background-color: rgb(236, 236, 236);
    background-size: contain;
    width: 1800px;
}
.contenedor main{
    background-color: rgb(182, 182, 182);
    background-size: contain;
}
.contenedor aside p {
    padding: 10px;
}
.contenedor main p {
    padding: 10px;
}
.contenedor article {
    padding: 10px;
}
.ul{
    padding: 20px;
    position: relative; top:0px; left: 20px;
}
.ulo{
    padding: 10px;
    position: relative; left: 20px;
}
.h1 {
    padding: 10px;
}
.h2 {
    padding: 10px;
}
.ubicacion {
padding: 10PX;
position: relative;
top: 20px;
left:20%;
}
.ubi {
    text-align: left;
    padding: 10px;
}
.li {
    padding: 10px;
}
.cont {
    padding: 10px;
}









body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 20px;
    line-height: 1.6;
    
    background-image: url('');

    
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
h1 {
    color: #000000;
}
h2 {
    color: #000000;
}
h3 {
    color: #333;
}
p {
    color: #302c2c;
}
strong {
    font-weight: bold;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
details {
    margin-left: 40px;
}
summary {
    cursor: pointer;
}
.recuadro {
    width: 1000px; 
    padding: 20px; 
    border: 3px solid #000; 
    border-radius: 10px; 
    background-color: #a7ecb6; 
}
